body{
    margin: 0;
    font-family: 'PT Sans';
}
main{
    max-width: 1600px;
    margin: auto;
}
header{
    background: rgb(38, 38, 38);
    padding: 8px 0px;
    
}
.container{
    width: 1170px;
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box
}
.container_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo h2{
  color: white;
  font-size: 25px ;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Poppins';
  font-weight: 600;
}

.link_information ul{
    list-style-type: none;
    display: flex;

}
.link_information a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.photo-holder{
    background: url("photo-holder/istockphoto-1277242852-170667a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}  
.display-holder{
    display: flex;
    justify-content: space-between;
}  
.photo-holder_left {
    padding-top: 200px;
    padding-bottom: 200px;
}
.photo-holder_left h1{
    color: white;
    font-size: 35px;
    margin-bottom: 0;
    font-family: 'Poppins';
    
       
}
.photo-holder_left p{
    color: white;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;

}
.photo-holder_right{
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 40px 50px;
    background-color: #00000069;
}
.photo-holder_right p{
    color: white;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
    margin-top: 5px;
    
}
.photo-holder-input{
    display: inline-grid;
}
.input-holder{
   padding-top: 14px;
   padding-bottom: 14px;
   padding-left: 20px;
   width: 300px;
   margin-bottom: 5px;
   border-radius: 2px;
   border: none;
}
.button-holder{
    background-color: rgb(216, 58, 34);
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
}
.gray-div-holder{
    background-color: #282828;
    margin-top: 80px;
}
.gray-div-holder_top {
    text-align: center;
}
.gray-div-holder_top h2{
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 90px;
}
.gray-div-holder_top p{
    color: rgba(215, 209, 209, 0.872);
    line-height: 25px;
}
.gray-div-holder_middle img{
    padding-left: 300px;
    padding-top: 60px;
}
.gray-div-holder_bottom{
    text-align: center;
}
.gray-div-holder_bottom p{
    color:white;
    font-size: 20px;
    font-weight: 600;
    white-space: pre-line;
    line-height: 30px;
    padding-top: 50px;
}
.gray-div-holder_bottom button{
   color: white;
   background-color: rgb(228, 92, 71);
   border: none;
   border-radius: 5px;
   padding: 10px 50px;
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 90px;
  
}
.black-div-holder{
    background: #222222;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
   
}
.black-holder{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    
   
}
.black-holder h2{
    font-size: 30px;
    color:rgb(98, 95, 95);
    font-weight: bolder;
}

.black-holder p{
    color: white;
    font-size: 18px;
    white-space: pre-line;
    line-height: 30px;
}
.material-icons.trophy{
     color: orangered;
     font-size: 50px;
     position: absolute;
     padding-top: 180px;
}


